<h1>New Author</h1>
<form action="/authors" method="post">
    <lable>
         Name
        <input name="name" required>
   </lable>
   <lable>
         Image:
         <input type="url"name="image">
   </lable>
   <button>Create Author</button>
</form>