<h1>New Book</h1>
<form action="/books" method="post">
    <label>
         Name
        <input name="name" required>
   </label>
    <label>
         Importance:
         <input name="importance" required>
   </label>
   <label>
         Image:
         <input type="url"name="image">
   </label>
   <button>Create Book</button>
</form>