<h1>Edit Book</h1>
<form action="/books/<%=@book[:"id"]%>" method="post">
    <label>
        Name
        <input name="name" required value="<%= @book["name"] %>">
    </label>
    <label>
        Importance
        <input name="importance" required value="<%= @book["importance"] %>">
    </label>
    <label>
        Image
        <input name="image" required value="<%= @book["image"]%>">
    </label>
    <button>Update Book</button>
</form>