<h1>Welcome to Secret Number!</h1>

<p> Choose your number </p>

<form action="/secretnumber/result">

<label for=""> 
<select name="numbers" id="number">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>

</select>
</label>  
<button> Choose number </button>

</form>