<form action="/ninjas" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Title:
        <input name="title" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Add Village</button>

</form>