<h1>Choose a Number</h1>
<form action="/secret/result">
    <button class="game-button num" name="guess" value="1">1</button>
    <button class="game-button num" name="guess" value="2">2</button>
    <button class="game-button num" name="guess" value="3">3</button>
    <button class="game-button num" name="guess" value="4">4</button>
    <button class="game-button num" name="guess" value="5">5</button><br/>
    <button class="game-button num" name="guess" value="6">6</button>
    <button class="game-button num" name="guess" value="7">7</button>
    <button class="game-button num" name="guess" value="8">8</button>
    <button class="game-button num" name="guess" value="9">9</button>
    <button class="game-button num" name="guess" value="10">10</button>
</form>
<a href="/" class="small-link">(Or Choose a Different Game)</a>
