<h1>Result</h1>
<table>
    <tr>
        <th>Your Guess</th>
        <th>Target Number</th>
    </tr>
    <tr>
        <td><%= @guess %></td>
        <td><%= @target_guess %></td>
    </tr>
</table><br/>
<p class="result-text"><%= @result %></p>
<a href="/secret"><button class="game-button submit">Guess Again</button></a><br/>
<a href="/"><button class="game-button submit">Play Another Game</button></a>