<h1>Add Artist</h1>

<form action="/artist" method="post">

    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Add Artist</button>

</form>