<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Manga</title>
</head>
<body>

    <div class="container">
        <nav>
            <a href="/">Home</a>
            |
            <a href="/manga">Manga</a>
            <a href="/manga/add">Add Manga</a>
            |
            <a href="/artist">Artist</a>
            <a href="/artist/add">Add Artist</a>
        </nav>

    <%= yield %>

    </div>
    
</body>
</html>