<h1>Add Manga</h1>

<form action="/manga" method="post">

    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Artist:
        <input name="artist" >
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Add Manga</button>

</form>