<h1>Search for a Book</h1>

<form action="/info">
    <label>
        Book:
        <input name="title" placeholder="Never Ending Story" required>
    </label>

    <button>Check Book</button>

</form>