<h1>
    Welcome to the Carnival
</h1>

<p>
    <a href="/eightball">
        Play 8 Ball
    </a>
</p>

<p>
    <a href="/secretnumber">
        Play Secret Number
    </a>
</p>

<p>
    <a href="/tictactoe">
        Play Tic-Tac-Toe
    </a>
</p>