<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waifus and Husbandos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/spouses">All Waifus/Husbandos</a>
            <a href="/spouses/new">Add New Waifu/Husbando</a>
            <a href="/shows">All Shows</a>
            <a href="/shows/new">Add New Show</a>
        </nav>
        <%= yield %>
    </div>
</body>
</html>