<h1>Add new show</h1>
<form action="/shows" method="post">
    <label>
    <span class="field-title">Title:</span><br/>
    <input name="title" class="input-field" required>
    </label><br/>

    <label>
    <span class="field-title">Genre:</span><br/>
    <input name="genre" class="input-field" required>
    </label><br/>

    <label>
    <span class="field-title">Studio:</span><br/>
    <input name="studio" class="input-field" required>
    </label><br/>

    <button>Add show</button>
</form>