<h1>Add new waifu/husbando</h1>
<form action="/spouses" method="post">
    <label>
    <span class="field-title">Name:</span><br/>
    <input name="name" class="input-field" required>
    </label><br/>

    <label>
    <span class="field-title">Description:</span><br/>
    <textarea name="description" class="input-field" style="height: 200px;" required></textarea>
    </label><br/>

    <label>
    <span class="field-title">Image URL:</span><br/>
    <input name="image" class="input-field" type="url" required>
    </label><br/>

    <button>Add waifu/husbando</button>
</form>