<div class="home">
<h1>Please pick your choice</h1>

<form action="/rock_paper_scissors/result">
    <label>
        <select name="choice">
            <option value="Rock">Rock</option>
            <option value="Paper">Paper</option>
            <option value="Scissors">Scissors</option>
        </select>
    </label>
    <button>Play!</button>


</form>
</div>