
<form action="/albums" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Author: 
        <input name="author" required>
    </label>

    <label>
        Streams:
        <input name="streams" type="number">
    </label>

    <button> Add Album </button>
</form>
