<form action="/artists" method='post'>
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Label:
        <input name="label" required>
    </label>

    <label>
        Image:
        <input name="image" type="url" >
    </label>

    <button> Add Artist </button>
</form>