<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title> Top 10 </title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

    <div class="container">
        <nav>
            <a href="/"> Home</a>
            |
            <a href="/artists"> Artists </a>
            <a href="/artists/new"> Add Artist </a>
            |
            <a href="/albums"> Albums </a>
            <a href="/albums/new"> Add album </a>
        </nav>


        <%= yield %>
    </div>


    </body>
</html>