<div class="container">
<h1>Let's play a Game!!</h1>
<div class="first">
<ul>
<li><a href="/magic">Magic 8</a></li>
<li><a href="/number">Random Number</a></li>
<li><a href="/sps">Stone Paper Scissors</a></li>

</ul>
</div>
</div>