<h1>Edit brand</h1>
<form action="/brands/<%= @brand.id %>" method="post">
    <label>
        Name:
        <input name="name" required value="<%= @brand["name"] %>">
    </label>
    <label>
        Country of Origin:
        <input type = "text" name = "country_of_origin" value="<%= @brand["country_of_origin"] %>">
    </label>
    <label>
        Logo:
        <input type="url" name="logo" value="<%= @brand.logo %>">
    </label>

    <button>Update brand</button>
</form>