<form action="/brands" method="post">
    <label>
    Name:
    <input type="text" name = "name">
</label>
<label>
    Country of Origin:
    <input type="text" name="country_of_origin" required>
</label>
<label>
    Logo:
    <input type="url" name="logo">
</label>

<button>Add Brand</button>

</form>