<form action="/headphones" method="post">
    <label>
    Name:
    <input type="text" name = "name">
</label>
<label>
    Brand:
    <input type="text" name="brand" required>
</label>
<label>
    Price:
    <input type="text" name="price" required>
</label>
<label>
    Rating:
    <input type="text" name="rating" required>
</label>

<button>Add Headphone</button>

</form>