<form action="/boxers" method="post">
    <label>
        Name: 
        <input name="name" required>
    </label>

    <label>
        Weight Divsion: 
        <input name="weight_division">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button> Add Boxer </button>
</form>