<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Boxers Encyclopedia </title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

    <div class="container">

        <nav>
            <a href="/"> Home </a>
            <a href="/boxers"> Boxers </a>
            <a href="/boxers/new"> Add Boxer </a>
        </nav>

        <%= yield %>

    </div>

    </body>
</html>