<div class="top-banner" style="background-image: url(/assets/arcade.jpeg)">
    <h1>GAMES</h1>
</div>

<div class="container"> 
    <a href="/games/magic8ball">
        <div class="banner" style="background-image: url(/assets/8ball.jpg)">
            <h1>
                Magic 8 Ball
            </h1>
        </div>
    </a>

    <a href="/games/secretnumber">
        <div class="banner" style="background-image: url(/assets/secret.webp)">
            <h1>
                Secret Number
            </h1>
        </div>
    </a>

    <a href="/games/rockpaperscissors">
        <div class="banner" style="background-image: url(/assets/rps.jpg)">
            <h1>
                Rock Paper Scissors
            </h1>
        </div>
    </a>
</div>