<div class="top-banner" style="background-image: url(/assets/8ball.jpg)">
    <h1>
        The Magic 8 Ball
    </h1>
</div>

<div class="container"> 
    <div class="vertical-container eight-ball">
        <p>Ask me your question in the url of this page</p>
    </div>
</div>