<div class="top-banner" style="background-image: url(/assets/secret.webp)">
    <h1>
        The Secret Number
    </h1>
</div>

<div class="container"> 
    <div class="vertical-container eight-ball">
        <form action="/games/secretnumber/result">
            <input type="number" name="guess">
            <button>Guess</button>
        </form>
    </div>
</div>