/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

h1 {
	font-family:'Crimson', serif;
	color: #a2a2a2;
}

h3 {
	color: #534949;
}

#container {
	width: 950px;
	margin: 0 auto;
}

#press {
	display: inline;
}

h4 {
	color: blue;
}

.photos {
	border: 5px solid #cecccc;

}

p {
	color: #717171;
}
