<h1>New Sharks</h1>
<form action="/sharks" method="post" >

    <label>
        Name:
        <input name="name">
    </label>

    <label>
        Family:
        <input name="family">
    </label>

    <label>
        Region:
        <input name="region">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Add a Shark</button>
</form>