body {
    background-color: brown;
    color: black
}

.container {
    max-width: 960px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: blue;
    height: 960px;
}

.feature {
    max-width: 100%;
}

nav {
    text-align: right;
}

a {
    color: black;
    text-decoration: none;
}


