<div class="showPage">
<h1>Add a new chilli! </h1>
</div>

<div class="form">
    <form action="/chilies" method="post">

        <label>
            <input placeholder="Name" type="text" name="name" required>
        </label>
        <label>
            <input placeholder="Scoville Rating" type="number" name="rating" required>
        </label>
        <label>
            <input placeholder="Image URL" type="text" name="image" required>
        </label>
        <label>
            <input placeholder="Embedded video URL" type="text" name="video">
        </label>

        <button class="edit" >Submit</button>

    </form>
</div>