
<div class="showPage">
<h1>Add a new Country </h1>
</div>

<div class="form">
    <form action="/countries" method="post">

        <label>
            <input placeholder="Name" type="text" name="name" required>
        </label>
        <label>
            <input placeholder="population" type="number" name="population" required>
        </label>
        <label>
            <input placeholder="Capital" type="text" name="capital">
        </label>

        <button class="edit" >Submit</button>

    </form>
</div>

