<h1>All Artists</h1>

<% @artists.each do |artist| %>
    <%= image_tag artist.image, :class => 'thumb' if artist.image.present? %>
    <ul>
        <li>Name: <%= link_to artist.name, artist %></li>
        <li>Date of Birth: <%= artist.dob.strftime'%B %e, %Y' %></li>
    </ul>
<% end %>