<h1>New country</h1>

<form action="/countries" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Capital:
        <input name="capital">
    </label>

    <label>
        Population:
        <input type="number" name="population">
    </label>

    <label>
        Map:
        <input type="url" name="map">
    </label>

    <button>Add country</button>
</form>