<h1>Welcome to 8 Ball</h1>

<form action="/magicball/info">

    <label>
        What is your question?
        <input name="question" placeholder="Answer Here" required autofocus>
    </label>

    <button>Answer</button>

</form>