<%# THIS WILL POST RESULTS TO THE /drivers PAGE%>

<form action="/drivers" method="post"> 

<label> 
Name:
<input type = "text" name = "name"> 
</input> 
</label>

<label> 
Podiums:
<input type = "integer" name = "podiums"> 
</input> 
</label>

<label> 
Image:
<input type = "url" name = "image"> 
</input> 
</label>

<button> Add New Driver </button>

</form>