<form action="/rubble" method="post">
    <label>
        Name:
        <input name="name">
    </label>

    <label>
        Othernames:
        <input name="othernames">
    </label>

    <label>
        Constellation: 
        <input name="constellation">
    </label>

    <label>
        Distance: 
        <input name="distance">
    </label>

    <label>
        Coordinates: 
        <input name="coordinates">
    </label>

    <label>
        Fun Fact:
        <input name="funfact">
    </label>

    <label>
        Image url:
        <input type="url" name="image">
    </label>

    <button>Create Galaxy</button>
</form>