<h1>Enter a question</h1>
<form action="/ball/result">
    <input class="game-input" name="question" required autofocus><br/>
    <button class="game-button submit">Ask the Magic 8 Ball</button>
</form>
<a href="/" class="small-link">(Or Choose a Different Game)</a>
