<h1>Result</h1>
<h2>Your Question</h2>
<p><%= @question %></p>

<h2>The Magic 8 Ball Says...</h2>
<p class="result-text">
    <%= @answer %>
</p>

<a href="/ball"><button class="game-button submit">Ask Again</button></a><br/>
<a href="/"><button class="game-button submit">Play Another Game</button></a>
