<div class="main">
    <h1>lets play some games</h1>

    <h2>Please select the game of choice</h2>
    <a href="/magic_eight_ball/home">Magic 8 Ball</a>
    <a href="/secret_number/home">Secret Number</a>
    <a href="/rock_paper_scissors/home">Rock Paper Scissors</a>
</div>