<h1>New iceberg</h1>

<form action="<%= icebergs_path %>" method="post">
<label>
Name 
<input name="name" required>
</label>
<label>
Image 
<input type="url" name='image'>
</label>
<label>
bubbles
<input type="number" name='bubbles'>
</label>
<label>
stability
<input type="number" name='stability'>
</label>
Colors
<input type="text" name='colors'>
<label>
Shapes
<input type="text" name='Shapes'>
</label>

<button>Create New</button>

</form>





