<div class="container">
<h1>Guess a number</h1>

<form action="/result">
<h2>Numbers:</h2>

    <button name="val" value="1" >1</button>
    <button name="val" value="2" >2</button>
    <button name="val" value="3" >3</button>
    <button name="val" value="4" >4</button>
    <button name="val" value="5" >5</button>
    <button name="val" value="6" >6</button>
    <button name="val" value="7" >7</button>
    <button name="val" value="8" >8</button>
    <button name="val" value="9" >9</button>
    <button name="val" value="10" >10</button>
  
    <button>Submit number</button>
</form>
</div>
