<h1>Choose a Game</h1>
<a href="/ball"><button class="game-button">Magic 8 Ball</button></a><br/>
<a href="/secret"><button class="game-button">Secret Number</button></a><br/>
<a href="/rps"><button class="game-button">Rock Paper Scissors</button></a>
