<div class="container">
<h1>The mighty ball has spoken</h1>
<h2><%= @user_answer %></h2>
<div id="m8b">
<h3 class="animate__animated animate__headShake"><%= @fate %></h3>
<a href="/magicball">
</div>
<br>
<button>Ask Another Question</button>
</a>
</div>