<div class="container">
<h1 class="animate__animated animate__flash">Magic 8 Ball</h1>
<h2>What does the young master desire?</h2>

<form action="/magicball/fate" autocomplete="off">
    <label>
        <input type="text" name="answer" required>
    </label>
    <br>
    <button>See Your Fate</button>
</form>
</div>