<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stars and Planets</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">

        <nav>
            <a href="/">Home</a>
            |
            <a href="/stars">All Stars</a>
            <a href="/stars/new">New Star</a>
            |
            <a href="/planets">All Planets</a>
            <a href="/planets/new">New Planet</a>
        </nav>

        <%= yield %>
        
    </div>


</body>
</html>