<h1>New Planet</h1>

<form action="/planets" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Habitable:
        <input name="habitable">
    </label>

    <label>
        Star: 
        <input name="star">
    </label>

    <label>
        Mass(M): 
        <input name="mass">
    </label>

    <label>
        Temperature: 
        <input name="temperature">
    </label>

    <label>
        Period: 
        <input name="period">
    </label>

    <label>
        Distance from Sun: 
        <input name="distance">
    </label>

    <label>
        Fun Fact:
        <input name="funfact">
    </label>

    <label>
        Image url:
        <input type="url" name="image"">
    </label>

    <button>New Planet</button>

</form>