<h1>New Star</h1>

<form action="/stars" method="post">
    <label>
        Name:
        <input name="name">
    </label>

    <label>
        Constellation:
        <input name="constellation">
    </label>

    <label>
        Coordinates: 
        <input name="coordinates">
    </label>

    <label>
        Distance: 
        <input name="distance">
    </label>

    <label>
        Stellar Class: 
        <input name="stellar_class">
    </label>

    <label>
        Mass: 
        <input name="mass">
    </label>

    <label>
        Number of Planets: 
        <input name="planets">
    </label>

    <label>
        Fun Fact:
        <input name="funfact">
    </label>

    <label>
        Image url:
        <input type="url" name="image">
    </label>

    <button>Create Star</button>

</form>