body{
	background-color: rgb(230, 229, 229);
	line-height: 17px;
	color: #656565;
}
nav{
	padding: 30px;
	background-color: black;
}

.navbar{
	text-decoration: none;
	display: inline;
	margin-right: 75px;
	color: white;
}

.top{
	margin: 0 auto;
	width: 70%;
	position: relative;
	border: solid black 1px;
}

.top img{
	position: absolute;
	top: 20px;
}
.mid{
	
	margin: 0 auto;
	max-width: 70%;
	
}

















/* Socials */
#socialMedia{
	display: flex;
	flex-direction: row-reverse;
}

#socialMedia ul li {
	 display:inline-block;
	 width:60px;
	 height:60px;
	 background:blue;	
	 text-indent:-9999em;
}

#socialMedia ul li.linkedIn {
	background:url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
	background:url(../images/socialNav.png) -60px 64px; 
}

#socialMedia ul li.facebook {
	background:url(../images/socialNav.png) -120px 64px; 
}

#socialMedia ul li.rss {
	background:url(../images/socialNav.png) -180px 64px; 
}



#socialMedia ul li.linkedIn:hover {
	background:url(../images/socialNav.png) 0px 0px; 
}

#socialMedia ul li.twitter:hover {
	background:url(../images/socialNav.png) -60px 0px; 
}

#socialMedia ul li.facebook:hover {
	background:url(../images/socialNav.png) -120px 0px; 
}

#socialMedia ul li.rss:hover {
	background:url(../images/socialNav.png) -180px 0px; 
}


/* Suggestions for ID names and classes 

---------------------------------------------

#wrapper 
#container 

<header> 
<nav>

#main-content 
#social-media 

.photobanner 
.imageshadow

#blurb 

#home-boxes 
    .home-box
    .home-box
    .home-box

<footer> 
    .box-footer 
         .blogroll
    .box-footer 
         .textwidget 

#copyright 
#companybottom */