body {
  background-color: rgb(144, 144, 203);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="text"] {
  width: 100%;
  height: 3em;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.green {
  color: rgb(95, 250, 198);
}

.red {
  color: rgb(181, 0, 0);
}

.stats {
  display: flex;
  justify-content: space-between;
}