<h1>Games on Rails</h1>

<p>
    Play fun games on Rails! Choose your Game:
</p>

<p>
    <form action="/magic8ball">
        <button>Play Magic 8 Ball</button>
    </form>
    <form action="/secretnumber">
        <button>Play Secret Number</button>
    </form>
</p>