<h1>New book</h1>

<form action="/books" method="post">
    <label>
    <input name="name" required>
    </label>

    <label>
    Author
    <input type="Author" required>
    </label>

    <label>
    <input type="url" name="image">
    </label>


    <button>Create book</button>






</form>