<h1> Some that should go here</h1>

<p>Make sure to plan an sql database before making a database.</p>
<p>Also make an input to be able to add, edit and delete stuff.(C.R.U.D).</p>
<ul>
    <li>Create</li>
    <li>Read</li>
    <li>Update</li>
    <li>Destroy</li>
</ul>

<h3>sql database: Something here</h3>
<ul>
    <li>Name: </li>
    <li>Age: </li>
    <li>Image: </li>
</ul>