<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/people.css">
    <title>Something</title>
</head>
<body>

    <div class="container">
    
    <nav>
        <a href="/">home</a>
        <a href="/people">people</a>
        <a href="/people/new">Create Person</a>
    </nav>

    <%= yield %>
    
    </div>

</body>
</html>