<h1>People</h1>

<form action="/people" method="post">

    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        World:
        <input name="world" >
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create person</button>

</form>