<div class="container">
<h1 class="animate__animated animate__flash">Secret Number</h1>
<h2>Pick a number</h2>
<form action="secretnumber/choice">
    <ul>
        <input class="secretnumber" type="submit" name="choice" value="1"> 
        <input class="secretnumber" type="submit" name="choice" value="2"> 
        <input class="secretnumber" type="submit" name="choice" value="3"> 
        <input class="secretnumber" type="submit" name="choice" value="4"> 
        <input class="secretnumber" type="submit" name="choice" value="5"> 
        <input class="secretnumber" type="submit" name="choice" value="6"> 
        <input class="secretnumber" type="submit" name="choice" value="7"> 
        <input class="secretnumber" type="submit" name="choice" value="8"> 
        <input class="secretnumber" type="submit" name="choice" value="9"> 
        <input class="secretnumber" type="submit" name="choice" value="10"> 
    </ul>
</form>
</div>