*{
    box-sizing:border-box;
}

body {
    margin: 0;
}

nav {
    background-color: rgb(0, 0, 0);
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.body {
    max-width: 960px;
    margin: 0 auto;
}