<h1>New Movie</h1>

<form action="<%= movies_path %>" method="post">
    <label>
        Title:
        <input name="name" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <label>
        Director:
        <input type="name" name="director">
    </label>

    <label>
        Producer:
        <input type="name" name="producer">
    </label>

    <label>
        Stars:
        <input type="name" name="stars">
    </label>

    <button>Add New Movie</button>
</form>