<h1>Add new mountain</h1>
<form action="<%= mountains_path %>" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Image URL:
        <input name="image" type="url">
    </label>

    <label>
        Country:
        <input name="country">
    </label>

    <label>
        Elevation:
        <input name="elevation" type="number" step="any">
    </label>

    <label>
        Isolation:
        <input name="isolation" type="number" step="any">
    </label><br/>
    <button>Add</button>
</form>