<h1>Search For A Book!</h1>

<form action="/info">
    <label>
        Book Cover Search Engine:
        <input name="title" placeholder="Jaws" required>
    </label>

    <button>Go!</button>

</form>