<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Search</title>
</head>
<body>
    <h1>Find the weather of a City</h1>

    <form action="/info">
        <label>
            Enter a City:
            <input type="search" name="city" placeholder="Sydney" required>
        </label>
        <button>Find Weather</button>
    </form>

</body>
</html>