<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Info</title>
</head>
<body>

    <h1>WEATHER STATS</h1>
    <ul>
        <li>Name: <%= city %></li>
        <li>Current Temp (C): <%= temp %></li>
        <li>Current Weather: <%= weather %></li>
    </ul>

</body>
</html>