<div class="container">
 <h1 class="animate__animated animate__fadeIn">Computer chose: <%= @computer %></h1>
 <h1 class="animate__animated animate__fadeIn">You chose: <%= @user %></h1>
 <h1 class="animate__animated animate__fadeIn"> <%= @result %> </h1>
 <br>
 <a href="/rockpaperscissor"><button>Play again?</button></a>
</div>