<div class="container">
<h1 class="animate__animated animate__flash">Rock Paper Scissor</h1>
<form action="rockpaperscissor/choice">
    <input class="rps" type="submit" name="choice" value="Rock">
    <input class="rps" type="submit" name="choice" value="Paper">
    <input class="rps" type="submit" name="choice" value="Scissors">
</form>
</div>