<h1>Book Cover search</h1>
<form action="/info">

<label>
    Which Book Cover do you wanna see?
    <input  name='title' placeholder="Book name" required>
</label>



<button>Find Book cover</button>

</form>
