<h1>New Ocean</h1>

<form action="<%= oceans_path %>" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <label>
        Temp:
        <input type="number" name="temp">
    </label>

    <label>
        Depth:
        <input type="number" name="depth">
    </label>

    <label>
        Islands:
        <input type="number" name="islands">
    </label>


    <button> Create Ocean</button>
</form>