<h1>New Drum Machine</h1>

<form action="/drummachines" method="post"> 
<label>
    Model:
    <input name="model" required>
</label>

<label>
    Brand:
    <input name="brand">
</label>

<label>
    Image:
    <input type="url" name="image">
</label>

<button>Create Drum Machine</button>
</form>