<h1>Drum Machine Database</h1>
<form action="/info">

<label>
    Drum Machine Search
    <input name="drummachine" placeholder="Drum Machine Model" required>
    </label>


<button>Search</button>

</form>