<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drum Machines</title>
      <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="container">
    <nav>
        <a href="/">Home</a>
        <a href="/drummachines/">All Drum Machines</a>
        <a href="/drummachines/new">New Drum Machines</a>   
    </nav>

    <%= yield %>
    </div>
    
</body>
</html>
