@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: #ccc;
    padding: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

nav {
    text-align: right;
}

nav a {
    color: rgb(18, 6, 255);
}

h1 {
    text-align: center;
    background: linear-gradient(-45deg, #000, #e73c7e, #ff0808, #23d5ab);
    color: rgb(45, 23, 210);
    font-size: 400%;
    padding: 0.5em;
    text-transform: uppercase;
    font-family: 'Diplomata SC', cursive;
    box-shadow: 0px 15px 15px black;
    border-radius: 1em;
    text-shadow: 2px 2px #ff0000;
}

main {
    display: inline-block;
    width: 75%;
}

main img {
    display: block;
    margin: 0 auto;
}

aside {
    display: inline-block;
    width: 21%;
    vertical-align: top;
    background-color: #cfc;
    padding: 1em;
    box-shadow: 0px 15px 15px black;
    border-radius: 1em;
}

aside ul {
    padding-left: 16px;
}

img {
    max-width: 50%;
}