/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
	padding: 20px 0;
	font-size: 12px;
	line-height: 17px;
	font-family: "Times New Roman", serif;
	color: #656565;
}

#container {
	margin: 0 auto;
	padding: 0 50px;
}

.pressImages {
	width: 23%;
	border: 3px solid lightgray;
}

.blockImages {
	display: block;
	margin: 4px 0;
}

.billboard {
	width: 100%;
}

a {
	text-decoration: none;
}

A:hover {
	color: #20222a;
}