<h2>Add an artist to the list!:</h2>
<form action="/artists" method="post">
<label> Artist name:
    <input type="text" name="name" required>
</label>
<label> Genre:
    <input type="text" name="genre" required>
</label>
<label> Spotify URL:
    <input type="text" name="spotify" required>
</label>
<button>Add Artist</button>
</form>

