<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Layout Demo</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
    <!-- <div class="container"></div>
    <div class="header"></div>
    <div class="main"></div>
    <div class="footer"></div>
    these aren't semantic tags.. it gives no hint to the browser what this is and therefore how to treat it 

    html5 semantic tags
    it also imroves readability of code and search engine optimisation
    <header>is better than a div tag with the class of header.. this makes your site more accessable because a screen reader gets hints as to what is and isn't important.. a screenreader might ignore a div with the class of header whereas it may not ignore header</header> <nav>or your nav! this may affect when and if it reads it!</nav> --> 
    <header>
        <nav>
            <a href="#Home-page" alt=""></a>
            <a href="" alt=""></a><a href="#About-page" alt=""></a>
            <a href="" alt=""></a>
            <a href="#Frequently-asked-questions" alt=""></a>
            <!-- link something for real in your homework! -->
        </nav>
        <h1>Title</h1> 
        <!-- we want this to be in all uppercase but for screen readers it wont know to read TITLE as a word, it may read it letter by letter as if it's an acronym-->
    </header>

    
    <main><h2>main content goes here</h2>
    <img src="http:www.fillmurray.com/400/600" alt="bill murry's head">
    <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, aspernatur aliquid rem fuga mollitia enim quo reiciendis voluptatem rerum, eaque, quam reprehenderit quaerat assumenda delectus sit libero ullam labore magnam?</p>
    <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, aspernatur aliquid rem fuga mollitia enim quo reiciendis voluptatem rerum, eaque, quam reprehenderit quaerat assumenda delectus sit libero ullam labore magnam?</p>
    <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, aspernatur aliquid rem fuga mollitia enim quo reiciendis voluptatem rerum, eaque, quam reprehenderit quaerat assumenda delectus sit libero ullam labore magnam?</p>
</main>
    <aside>
        <h3>fun factrs</h3>
    <ul>
        <li>one thing</li>
        <li>two thing</li>
        <li>three thing</li>
    </ul>
</aside>
</div>
</body>
</html>