<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Database</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="container">
        <nav>
            <a href="/">Home</a>
            |
            <a href="/movies">All Movies</a>
            |
            <a href="/movies/new">New Movie</a>
            |
            <a href="/movies/show">Find Movie</a>
            |
            <a href="/directors">All Directors</a>
        </nav>

        <%= yield %>
    </div>    
    
</body>
</html>