<h2>Add a new Movie!</h1>

<form action="/movies" method="post">
    <label>
        Movie Title:
        <input name="title" required>
    </label>

    <label>
        Director:
     <input name="director">
    </label>

    <label>
        Poster URL:
        <input type="url" name="image">
    </label>

    <button>Create Movie</button>
</form>