<h1>Welcome to Secret Number</h1>

<p>GUESS THE SECRET NUMBER:</p>


<a href="/secretnumber/result/1"><button name="1">1</button></a>
<a href=""></a><button name="2">2</button>
<a href=""></a><button name="3">3</button>
<a href=""></a><button name="4">4</button>
<a href=""></a><button name="5">5</button>
<a href=""></a><button name="6">6</button>
<a href=""></a><button name="7">7</button>
<a href=""></a><button name="8">8</button>
<a href=""></a><button name="9">9</button>
<a href=""></a><button name="10">10</button>