<h1>Welcome to Secret Number</h1>

<p>GUESS THE SECRET NUMBER:</p>

<form action="/secretnumber/result">
    <button name="guess" value="1">1</button>
    <button name="guess" value="2">2</button>
    <button name="guess" value="3">3</button>
    <button name="guess" value="4">4</button>
    <button name="guess" value="5">5</button>
    <button name="guess" value="6">6</button>
    <button name="guess" value="7">7</button>
    <button name="guess" value="8">8</button>
    <button name="guess" value="9">9</button>
    <button name="guess" value="10">10</button>
</form>