@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 16px;
    font-weight: bold;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    border-left: 2px dashed fuchsia;
    border-right: 2px dashed fuchsia;
    border-radius: 22px;
    padding-left: 20px;
    padding-right: 20px;
}


nav ul {
    transition: .2s;
    display: inline-block;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 120px;
    margin-right: 90px;
    transition: .2s;
}

nav ul li:hover{
    transform: scale(-5.9);
    text-decoration: line-through;
    color:rgb(0, 186, 37)
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}



main {
    width: 100%;
    display: inline-block;
    text-align: center;
    
    position: relative;
}
main p{
   
}
img{
    width: 100%;
    border-radius: 5px;
    
    transition: .1s;
    border: 1px solid black;
    margin-top: 50px;
}




/*
aside {
    width: 40%;
    display:inline-block;

}
*/

aside ul {
    font-size: .5em;
    width: 200px;
    height: 200px;
    display: inline;
    padding-left: 100px;
}

aside ul li {
    display: inline-block;
    color: white;
    margin: 15px;
    transition: 60s ease-in;
}

aside ul li:hover{
    transform: scale(2);
    color: rgb(62, 0, 186);
    font-size: 1.5em;
}






