<h2>Hello! I am the some-what magical Eightball!</h2>

<form action="/eightball/answer">
    <label>
        What is your question?
        <input id="eightinput" name="question">
    </label>
    <button id="eightbutton">Ask</button>
</form>