

<form action="/cover">
    <label>You can request the cover Image of any book from the Googel library API. Enjoy the results.
    <input name="title" placeholder="Book name"></label>
    <button>search</button>

</form>