<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Cover Machine</title>
    <%# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> %>
    <link rel="stylesheet" href="css/book.css">
    
</head>
<body>
 
<div class="container">
    <nav> 
           <a href="/home">Home</a>
    </nav>

<%=yield%> 
<!--this is v special magic thing remember it forever-->
<div>
</body>

</html>