<h1>The Amazing Book Finder</h1>
<p>Find <em>all</em> the info about your book here</p>

<form action="/info">
    <label>
        <input type="text" name="book_name" placeholder="e.g. Jaws" required>
    </label>

    <button>SEE INFO</button>
</form>