<h2>Scissors Paper Rock</h2>

<form action="/spr/battle">
<button name="user" value="Scissors">Scissors</button>
<button name="user" value="Paper">Paper</button>
<button name="user" value="Rock">Rock</button>
</form>

