<h1>click on a button between 1 & 10 to see if you are a psychic</h1>

<form action="/secret_number/result">
    <label> Ask a question for it to be returned as a yes or no...
        <input type="number" name="number" required>
    </label>
    <button>Find Out</button>
</form>
