<h2>Can you guess the right number?</h2>

<form action="/secretnumber/verdict">
    <button id="secretbutton" name="guess" value ="1">1</button>
    <button id="secretbutton" name="guess" value ="2">2</button>
    <button id="secretbutton" name="guess" value ="3">3</button>
    <button id="secretbutton" name="guess" value ="4">4</button>
    <button id="secretbutton" name="guess" value ="5">5</button>
    <button id="secretbutton" name="guess" value ="6">6</button>
    <button id="secretbutton" name="guess" value ="7">7</button>
    <button id="secretbutton" name="guess" value ="8">8</button>
    <button id="secretbutton" name="guess" value ="9">9</button>
    <button id="secretbutton" name="guess" value ="10">10</button>
</form>