<div class="container">
<h1>Welcome to magic 8!!</h1>
<br>
<form action="/outcome">
<br>
<div class="second">
<label>
<h2>What question do you have?</h2>
<input name="arg" placeholder="Question" requried>
</label>
</div>
<button>Find you answer!</button>
</form>
</div>