<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Generation 1</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <nav>
            <a href="/">Home</a>
            |
            <a href="/pokemons">All Pokemon</a>
            <a href="/pokemons/new">New Pokemon</a>
            |
            <a href="/moves">All Moves</a>
            <a href="/moves/new">New Move</a>
        </nav>

    <div class="container">
        <div class="textabovegrid">
            <%= yield %>
        </div>
    </div>

</body>
</html>