<h1>New Move</h1>

<form action="/moves" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Type:
        <input name="element" required>
    </label>

    <label>
        Power:
        <input name="strength" required>
    </label>

    <label>
        Accuracy:
        <input name="accuracy" required>
    </label>

    <label>
        PP:
        <input name="pp" required>
    </label>

    <label>
        Description:
        <input name="description" required>
    </label>

    <button>Create move</button>
</form>