<h1>New Pokemon</h1>

<form action="/pokemons" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Type:
        <input name="types" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <label>
        Level:
        <input name="level" required>
    </label>

    <label>
        HP:
        <input name="HP" required>
    </label>

    <label>
        Attack:
        <input name="Attack" required>
    </label>

    <label>
        Defense:
        <input name="Defense" required>
    </label>

    <label>
        Special:
        <input name="Special" required>
    </label>

    <label>
        Speed:
        <input name="Speed" required>
    </label>

    <button>Create Pokemon</button>
</form>