/* Code copied from broken code lab */

.container{

    margin:auto;
    width: 65vw;
}


#socialMedia {
	float: right;
}
#socialMedia ul li {
	 display:inline-block;
	 width:60px;
	 height:60px;
	 background:blue;	
	 text-indent:-9999em;
}

#socialMedia ul li.linkedIn {

	background:url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
	background:url(../images/socialNav.png) -60px 64px; 
}

#socialMedia ul li.facebook {
	background:url(../images/socialNav.png) -120px 64px; 
}

#socialMedia ul li.rss {
	background:url(../images/socialNav.png) -180px 64px; 
}

#socialMedia ul li.linkedIn:hover {
	background:url(../images/socialNav.png) 0px 0px; 
}

#socialMedia ul li.twitter:hover {
	background:url(../images/socialNav.png) -60px 0px; 
}

#socialMedia ul li.facebook:hover {
	background:url(../images/socialNav.png) -120px 0px; 
}

#socialMedia ul li.rss:hover {
	background:url(../images/socialNav.png) -180px 0px; 
}




.displayitem1{
    float:left;
    max-width: 310px;
}

.displayitem2{
    float:left;
    max-width: 310px;
}

.displayitem3{
    float:left;
    max-width: 310px;
}

.textbox{
    padding: 10px; 
    border: 2px solid rgb(228, 228, 228);
    max-width: 1100px;
}

.inlinetext{
    inline-size: 500px;

}

.button{
    float:right;
    margin-top: -80px;
    margin-right: 40px;

}

.imagesbottom{
    box-shadow: 10px 10px 5px 5px #ccc;
}


.bg-img {
    /* The image used */
    background-image: (images/press-huffpost.gif);

  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }