.thumb {
    height: 12em;
    /* width: 12em; will stretch the width */
}

.feature {
    max-height: 30em;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

label {
    display: block;
}

body {
    background-color: #ccd;
}

li {
    list-style: none;
}