<h1>Book Searcher</h1>
<form action="/info">

<label>
    Which book are you interested in?
    <input name="book_name" placeholder="Book name" required>
    </label>
        <button>Find Book</button>

        </form>
    