<h1>Welcome to Games on Rails</h1>

<h2>Would you like to play with my</h2>
<h3><a href="/magic">Magic 8 Ball</a></h3>
or

<h3><a href="/secret">Secret Number</a></h3>

or

<h3><a href="/rockpaperscissors">Rock Paper Scissors</a></h3>


      
