<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Node API</title>
</head>
    <body>
        <h1>What's that pokemon?</h1>
        <form action="/search">
            <label>
                Name:
                <input name="name" placeholder="Pokemon" required>
                <button>search</button>
            </label>
        </form>
    </body>
</html>