<div class="top-banner" style="background-image: url(/img/flags.jpeg)"></div>

<div class="container"> 
    <h1>New capital</h1>

    <form action="/capitals" method="post">
        <label>
            Name:
            <input name="name" required>
        </label>

        <label>
            Population:
            <input type="number" step="any" name="Population">
        </label>

        <label>
            Skyline:
            <input type="url" name="skyline">
        </label>

        <button>Add capital</button>
    </form>
</div>