<div class="top-banner" style="background-image: url(/img/flags.jpeg)">
    <h1>The countries I've been</h1>
</div>

<div class="container"> 
    <div class="vertical-container">
        <% @countries.each do |country| %>
            <a href="/countries/<%= country["id"] %>">
                <div class="banner" style="background-image: url(<%= country["banner"] %>)">
                    <h1>
                        <%= country["name"] %>
                    </h1>
                </div>
            </a>
        <% end %>
    </div>
</div>