<a href="/countries">
    <div class="banner half" style="background-image: url(/img/countries.webp)">
        <h1>
            Countries
        </h1>
    </div>
</a>

<a href="/capitals">
    <div class="banner half" style="background-image: url(/img/cities.jpg)">
        <h1>
            Capitals
        </h1>
    </div>
</a>