<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries!</title>
    <link rel="stylesheet" type="text/css" href="<%= url('/css/style.css') %>">
</head>
<body>
        <header>
            <div class="space"></div>
            <nav>
                <img src="<%= url('/img/galogo.png') %>" alt="General Assembly logo">
                <div class="navLinks">
                    <a href="/">Home</a>
                    |
                    <a href="/countries">All Countries</a>
                    |
                    <a href="/countries/new">Add Country</a>
                    |
                    <a href="/capitals">All Capitals</a>
                    |
                    <a href="/capitals/new">Add Capital</a>
                </div>
            </nav>
        </header>
    
    <%= yield %>
</body>
</html>