<h1>Add a new Host</h1>

<form action="/hosts" method="post">

    <label>
    Name:
    <input name="name">
    </label>

     <label>
    Podcast:
    <input name="podcast">
    </label>
<button>Add Host</button>
</form>