<h1>Add a new Podacst</h1>

<form action="/podcasts" method="post">

    <label>
    Host:
    <input name="host">
    </label>

     <label>
    Guest:
    <input name="guest">
    </label>

     <label>
    Theme:
    <input name="theme">
    </label>

     <label>
    Link:
     <input type="url" name="link">
    </label>
<button>Add Podcast</button>
</form>