<h1>Cheese</h1>
<h2> Who is the new cheese on the block? </h2>

<form action="/cheese" method="post">
    <label>
        Name:
        <input name="name" require >
    </label>
    
    <label>
        Region:
        <input name="region">
    </label>

    <label>
        Image:
        <input name="image">
    </label>
    
    <label >
        Info:
        <input style="height: 150px; width: 300px;" name="blurb">
    </label>

    <button>Make Cheese</button>
</form>