<h1>Add a new car to the collection!</h1>

<form action="/cars" method="post">
    <label>
        Make:
        <input name="make" required>
    </label>

    <label>
        Model:
        <input name="model" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

<button>Update the collection!</button>

</form>