<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
    <link rel="stylesheet" href="/css1/style.css">
    <title>Car Make and Models</title>
</head>
<body>

<div class="container">
    <nav>
        <a href="/">Home</a>
        <a style="padding: 5px;" href="/cars">All Cars</a>
        <a href="/cars/new">New Cars</a>
    </nav>

    <%= yield %>
</div>
    
</body>
</html>