<h1 class=hometitle> Welcome to Rock-Paper-Scissors</h1>

<form action="/rpsresult">
    <label>
        <select name="throw">
            <option value="rock">Rock</option>
            <option value="paper">Paper</option>
            <option value="scissors">Scissors</option>
        </select>
    </label>
    <button>Play!</button>