<h1>Add new song</h1>
<form action="/" method="post">
    <label>
    <span class="field-title">Title:</span><br/>
    <input name="title" class="input-field" required>
    </label><br/>

    <label>
    <span class="field-title">Artist(s):</span><br/>
    <input name="artist" class="input-field" required>
    </label><br/>

    <label>
    <span class="field-title">BPM:</span><br/>
    <input name="bpm" class="input-field" required>
    </label><br/>

    <label>
    <span class="field-title">Level:</span><br/>
    <input name="level" class="input-field" required>
    </label><br/>

    <label>
    <span class="field-title">Jacket URL:</span><br/>
    <input name="jacket" class="input-field" type="url" required>
    </label><br/>

    <label>
    <span class="field-title">Video embed URL:</span><br/>
    <input name="video" class="input-field" type="url" required>
    </label><br/>

    <button>Add song</button>
</form>