body {
    margin:0;
}
.topdiv{
    text-align: center;
    width: 57%;
}
.top {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: black;    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
li a:hover {
    background-color: #0b364d;
}

li {
    display: inline-block;  
}
  
.wrapper {
    width: 950px;
    margin: 0 auto;
    right: 100px;
}
.main {
    display: inline-block;
    width: 100%;
}
.blurb {
    text-align: left;
    width: 66%;
    margin: 20px;
}
#imgblurb {
    float:right;
    margin: 20px;
}

.blurbborder {
    border: 0.5px solid gray;
}

.column {
    border: 5px solid rgb(218, 215, 215);
}

#socialMedia {
    float:right
}

#logo {
    margin-top: 20px;
    margin-right: auto;
}

#homebox {
    width: 33%;
    display: inline-block
}

#socialMedia ul li {
    display:inline-block;
    width:60px;
    height:60px;
    background:blue;    
    text-indent:-9999em;
}

#socialMedia ul li.linkedIn {
    background:url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
    background:url(../images/socialNav.png) -60px 64px; 
}

#socialMedia ul li.facebook {
    background:url(../images/socialNav.png) -120px 64px; 
}

#socialMedia ul li.rss {
    background:url(../images/socialNav.png) -180px 64px; 
}

#socialMedia ul li.linkedIn:hover {
    background:url(../images/socialNav.png) 0px 0px; 
}

#socialMedia ul li.twitter:hover {
    background:url(../images/socialNav.png) -60px 0px; 
}

#socialMedia ul li.facebook:hover {
    background:url(../images/socialNav.png) -120px 0px; 
}

#socialMedia ul li.rss:hover {
    background:url(../images/socialNav.png) -180px 0px; 
}

