<h1>
    New director
</h1>

<form action="/directors" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create a new director!</button>

</form>