<h1>
    New Film
</h1>

<form action="films" method="post"/>

<label>
    Name:
        <input name="name" required>
</label>

<label>
    Description:
    <input description="description">
</label>

<label>
    Image:
    <input input type="url" name="image">
</label>

</form>