<h1>Pokemon</h1>

<h2>
    Here are the 151 pokemon from the Red, Blue and Green games
</h2>

<img class="feature" src="https://assets.pokemon.com/assets/cms2/img/video-games/video-games/pokemon_red_blue/pokemon_red_blue_main_169.jpg" alt="Front Covers of Pokemon Red and Blue">