<form action="/jojo" method="post">
    <label>
        First Name:
        <input name="first_name" required>
    </label>

    <label>
        Last Name:
        <input name="last_name">
    </label>

    <label>
        Image:
        <input name="url">
    </label>
    <button>Add Jojo</button>
</form>