<form action="/breweries" method="post">
    <label>
    Name:
    <input type="text" name = "name">
</label>
<label>
    State
    <input type="text" name="state" required>
</label>
<label>
    Year Founded:
    <input type="text" name="year">
</label>

<button>Add Brewery</button>

</form>