<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beers & Breweries</title>
    <link rel="stylesheet" href="style.css">
</head>
<div class= "container">
<body>
<nav>
<a href="/"> HOME</a>
| |
<a href="/beers">ALL Beers</a>
<a href="/beers/new">NEW BEER</a>
| |
<a href="/breweries">All Breweries</a>
<a href="/breweries/new">New Brewery</a>
</nav>
</div>
   <%= yield %> 
   
</body>
</html>