<h1>New Country</h1>

<form action="/countries" method="post">
    <label>
        Country Name:
        <input name="name">
    </label>

    <label>
        Continent:
        <input name="continent">
    </label>

    <label>
        Country Information:
        <input name="info">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>
    
    <button>Create Country</button>
</form>