<h1>New Dish</h1>

<form action="/dishes" method="post">
    <label>
        Dish Name:
        <input name="name">
    </label>

    <label>
        Information:
        <input name="info">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>
    
    <button>Create Dish</button>
</form>