<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>National Dishes</title>
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="/countries">All Countries</a>
    <a href="/countries/new">New Country</a>
    <br>
    <br>
    <a href="/dishes">All Dishes</a>
    <a href="/dishes/new">New Dishes</a>
</nav>
<h1>National Dishes</h1>
    <%= yield %>
</body>
</html>