<form action="/bookcover">
    <label>
        Book title:
        <input name="title" placeholder="Jaws" required>
    </label>
    </br>
    <button>Find book info</button>
</form>

 <h3>Lorem Ipsum</h3>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio fugiat explicabo dolores cum tenetur recusandae eligendi aperiam dolore ex voluptates, eaque, necessitatibus veniam at sit incidunt placeat et minus iste?
    </p>
 <h3>Lorem Ipsum?</h3>
    <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores, suscipit accusantium sapiente magnam eum explicabo blanditiis at, obcaecati culpa et voluptatibus dolor animi? Quo laudantium dolorum, error saepe beatae ipsam?
    </p>
 <h3>Lorem Ipsum!</h3>
    <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt ad possimus laboriosam ipsum, architecto, recusandae porro cum dolore cumque atque perspiciatis officiis provident eveniet eligendi animi eos. Labore, perspiciatis ipsum!
    </p>
 <h3>Lorem Ipsum :)</h3>
    <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius quisquam sequi officiis, maiores eos quam iste cum nihil quas praesentium doloribus impedit fuga, animi cumque. Hic, velit? Cumque, tenetur minus!
    </p>