<h1>Play Magic 8 Ball</h1>

<form action="/magic/answer">
    <label>
        Ask the 8 Ball a question:
        <input type="text" name="magic" required autofocus>
    </label>

    <button>Ask</button>
</form>