<h1 class=hometitle> Welcome to Magic 8-ball</h1>

<h2>Welcome to the world of fortuneeeeeee.........</h2>

<form action="/result">
    <label> Ask a question for it to be returned as a yes or no...
        <input type="text" name="question" required>
    </label>
    <button>Find Out</button>

</form>