<h1> Add a new Author</h1>

<form action="/authors" method="post">
    <label>
        Name:
        <input name="name">
    </label>

     <label>
        Nationality:
        <input name="nationality">
    </label>

    <button>Add a new Author</button>
    
</form>