<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Books</title>
</head>
<body>
    <div class="container">
        <nav>
        <a href="/">Home</a>
        |
        <a href="/books">All Books</a>
        <a href="/books/new">Add Book</a>
        |
        <a href="/authors">All Authors</a>
        <a href="/authors/new">Add Author</a>
        </nav>
        <%= yield %>
    </div>
    
</body>
</html>