<h1> The 8 Ball Baby <h1>

<form action="/eightball/answer">
    <div class="question-container">
        <input name="question" placeholder="Ask me a question">
        <button> Ask </button>
    </div>
</form>

