<div class="container">
<h1>Chooce a element</h1>

<form action="/game">
    <select name="choice">
        <option></option>
        <option value="Rock">Rock</option>
        <option value= "Paper">Paper</option>
        <option value= "Scissors">Scissors</option>
    </select>
    <button>Submit Element</button>
</form>
</div>