<div class="container">
    <div class="welcometxt">
        <h1 class= "typewriter">What is it you wish to know?</h1>
    </div>

    <div class="inner-container">
        <form action="/fortuned">
            <label>
                Ask away:
                <input name="question" placeholder="speak up" required autofocus>
            </label>
    </div>
    <button id="form-bttn">Ask</button>
        </form>
</div>