<div class="container">

    <div class="welcometxt">
        <h2 class="typewriter"> Welcome, answers await ...  are you sure you're ready to hear them child?</h2>
    </div>



    <div class="image" id="oldcrone">
        <img src="/assets/oldcrone.jpg" alt="An old crone on a dark background">
     </div>
    
    <a href="/fortune"> 
            <button> 
        Yes
            </button>
    </a>

</div>