<div class="container">

<h1>Welcome to the Party</h1>
<h2>What would you like to play today?</h2>
<h3>
<a href="/magicball"><button>Magic 8 Ball</button></a>
<br>
<a href="/rockpaperscissor"><button>Rock Paper Scissor</button></a>
<br>
<a href="/secretnumber"><button>Secret Number</button></a>
</h3>

</div>