<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>

    <div class="container">
        <header>
            <nav>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">FAQ</a>
                <a href="#">Contact</a>
            </nav>
            <h1>Title</h1>  <!-- uppercase this with CSS -->
        </header>
        
        <main>
            <h2>Content Goes here</h2>
            <img src="http://www.fillmurray.com/400/600" alt="Bill Murrays Face">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, impedit quod officia autem ipsam porro repudiandae vitae reiciendis totam aliquam quam cupiditate! Debitis cum quae dolores! Necessitatibus tempora minima obcaecati.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis harum quaerat tempore ratione distinctio! Veritatis praesentium veniam hic fugit tenetur possimus at placeat eaque voluptatibus. Voluptates nobis placeat quasi ipsam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, perspiciatis cumque! Porro, deserunt ipsam exercitationem sequi nisi aliquid quod vel libero et? Voluptatibus at eum ipsam laudantium inventore quas consectetur.</p>
        </main>

        <aside>
            <h3>Fun Facts</h3>
            <ul>
                <li>Groucho</li>
                <li>Harpo</li>
                <li>Chico</li>
                <li>Gummo</li>
            </ul>
        </aside>

    </div> 
</body>
</html>


<!--     HTMl5 Semantic Tags

    <div></div>

    <header></header>

    <nav></nav> -->